@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.bg-img {
  background-image: url('../public/pattern-bg.png');
  background-position: cover;
  background-size:contain;
}
