@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import 'leaflet/dist/leaflet.css';

.custom-scrollbar::-webkit-scrollbar {
  width: 0.8rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 0.4rem;
}
